<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://bootswatch.com/4/journal/bootstrap.min.css"
/>

  <title>Document</title>
</head>

<script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.js" crossorigin="anonymous"></script>


<body>

  <h1>Profile</h1>
  <div class="row m-2" id="product-container">
    You are logged in
      
       </div> 

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap@4.5.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap@4.5.2/dist/js/bootstrap.js" crossorigin="anonymous"></script>

  <a href="../../components/Authentication/logout" class="btn btn-primary col-mx-8">Logout</a>
  <br>
  <br>

  <a href="../../../../#" class="btn btn-secondary col-mx-8">Return</a>
</body>
</html>